<form>
    <label>
      Trajet:
      <input type="number">
    </label>
    <label>
      Repas:
      <input type="number">
    </label>
    <label>
      Nuit:
        <input type="number"> 
    </label>
    <label class="etat">
        Etat:
        <input class ="check"type="checkbox"> 
    </label>
    <label>
        Societe:
        <select id="client-select">
            <option *ngFor="let clientTab of clientTabs " value="{{clientTab.id}}">{{clientTab.nom}}</option>
        </select>
    </label>
    <label>
      Justificatifs:
        <input type="text"> 
    </label>
    <button type = "button" (click)="RecupFrais($event)">Envoyer</button>
  </form>
  